@define-mixin font-stack-body {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    @mixin atLarge {
        font-size: 0.9375rem;
    }
}

@define-mixin font-stack-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    @mixin atLarge {
        font-size: 1.75rem;
    }
}

@define-mixin font-stack-headline {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

@define-mixin font-stack-subsection {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    @mixin atLarge {
        font-size: 1.5rem;
    }
}

@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1010px) {
        @mixin-content;
    }
}