/* autoprefixer grid: off */
.row {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(24, [col-start] 1fr);
    column-gap: 1%;

    /* autoprefixer grid: off */
    >* {
        grid-column-start: col-start;
        grid-column-end: span 24;
    }

    &--no-left-section-padding {
        margin-left: -1rem;

        @mixin atLarge {
            margin-left: 0;
        }
    }


    /* autoprefixer grid: off */
    &__column {
        overflow: hidden;

        &--small-5 {
            grid-column-start: auto;
            grid-column-end: span 5;
        }

        &--small-6 {
            grid-column-start: auto;
            grid-column-end: span 6;
        }

        &--small-9 {
            grid-column-start: auto;
            grid-column-end: span 9;
        }

        &--small-10 {
            grid-column-start: auto;
            grid-column-end: span 10;
        }

        @mixin atLarge {

            &--large-3 {
                grid-column-start: auto;
                grid-column-end: span 3;
            }

            &--large-5 {
                grid-column-start: auto;
                grid-column-end: span 5;
            }

            &--large-8 {
                grid-column-start: auto;
                grid-column-end: span 8;
            }

            &--large-12 {
                grid-column-start: auto;
                grid-column-end: span 12;
            }

            &--large-16 {
                grid-column-start: auto;
                grid-column-end: span 16;
            }

            &--large-offset-9 {
                grid-column-start: col-start 9;
            }

            &--large-offset-19 {
                grid-column-start: col-start 19;
            }

            &--large-offset-22 {
                grid-column-start: col-start 22;
            }

            &--large-v-offset-2 {
                grid-row-start: 2;
            }

            &--no-left-gutter {
                margin-left: -1.5%;
            }
        }

        &--at-large-only {
            display: none;

            @mixin atLarge {
                display: block;
            }
        }

        &--h-align-end {
            display: flex;
            justify-content: center;

            @mixin atLarge {
                justify-content: flex-end;
            }
        }

        &--v-align-center {
            display: flex;
            align-items: center;
        }

        &--v-align-end {
            display: flex;
            align-items: flex-end;
        }

        &--text-center {
            text-align: center;
        }

        &--t-padding {
            padding-top: 1rem;
        }
    }
}