.row {
    /* .cssgrid: modernizr class for css grid feature */
    display: grid;
    grid-template-columns: repeat(24, [col-start] 1fr);
    column-gap: 1%;

    >* {
        grid-column: col-start / span 24;
    }

    &__column {
        &--at-large-only {
            display: none;
        }

        &--small-8 {
            grid-column: auto / span 8;
        }

        @mixin atMedium {
            &--large-8 {
                grid-column: auto / span 8;
            }

            &--large-16 {
                grid-column: auto / span 16;
            }

            &--no-left-gutter {
                margin-left: -1.5%;
            }

            &--at-large-only {
                display: block;
            }
        }
    }
}