.site-hero {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: url('../../assets/images/hero-background.jpg') top center no-repeat;
    background-size: cover;

    &.lazyloaded {
        @mixin atLarge {
            background: url('../../assets/images/hero-large.png') top center no-repeat;
            background-size: cover;
            height: 586px;
        }
    }

    &__image {
        display: block;
        width: calc(100% - 18px);
        margin: 0 auto;

        @mixin atLarge {
            display: none;
        }
    }

    &__text-content {
        position: absolute;
        width: calc(100% - 16px);
        top: 50%;
        left: 9px;
        transform: translateY(-50%);

        @mixin atLarge {
            position: relative;
            width: 960px;
            margin: 0 auto;
            left: 0;
        }
    }

    &__title {
        @mixin font-stack-hero-title;
        font-size: 1.375rem;
        color: $white;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.25;

        @mixin atMedium {
            font-size: 2rem;
            margin-bottom: .67rem;
        }

        &__highlight {
            display: inline-block;
            background-color: $red;
            text-align: right;
            font-size: 1.625rem;
            line-height: 0.77;
            padding: .5rem 0 0 1rem;

            @mixin atMedium {
                font-size: 3rem;
            }

            @mixin atLarge {
                font-size: 3.5rem;
                width: 34.6%;
                padding: 1rem .5rem 0 0;
}
        }

        &__normal {
            display: block;
            margin-left: 1rem;

            @mixin atLarge {
                display: inline;
            }
        }
    }

    &__description {
        @mixin font-stack-headline;
        font-size: 1.1875rem;
        color: $white;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
        line-height: 1.3;
        max-width: 10.5rem;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-top: .8rem;

        @mixin atMedium {
            font-size: 1.5rem;
            max-width: 18rem;
            margin-top: 1.8rem;
        }
        @mixin atLarge {
            font-size: 1.625rem;
            margin-left: 19.5%;
            max-width: 19rem;
            line-height: 1.3;
            margin-top: 1.1875rem;
        }
    }
}