.swiper-container {
    &--b-margin {
        margin-bottom: 2rem;
    }
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__text {
        position: absolute;
        font-size: 2rem;
    }
}